NODE_ENV=
PORT=
DB_USER=
DB_PASS=
DB_NAME=
Cloudinary_CloudName=
Cloudinary_API_KEY=
Cloudinary_API_SECRET=
GEMINI_API_KEY=
GEMINI_NAME=
GEMINI_PROJECT=
GEMINI_PROJECT_NUMBER=
JWT_SECRET=
LOCAL_SERVER_URL=
PROD_SERVER_URL=
LOCAL_FRONTEND_URL=
PROD_FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
BETTER_AUTH_SECRET=
ENABLE_AI_FEATURES=
